<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name = "hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>

        <property name = "hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>

        <!-- Assume test is the database name -->

        <property name = "hibernate.connection.url">
            jdbc:mysql://localhost/online_school
        </property>

        <property name = "hibernate.connection.username">
            A

        </property>

        <property name = "hibernate.connection.password">
            ssss
        </property>

        <property name = "hibernate.show_sql">
            true

        </property>

        <property name = "hibernate.format_sql">
            true

        </property>

<!--        <property name="hibernate.cache.provider_class" value="net.sf.ehcache.hibernate.SingletonEhCacheProvider"/>-->

        <property name="hibernate.cache.provider">net.sf.ehcache.hibernate.SingletonEhCacheProvider</property>



        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.region.factory_class">jcache</property>
        <property name="hibernate.javax.cache.provider">org.ehcache.jsr107.EhcacheCachingProvider</property>

        <mapping class = "os.osHibernate.AdditionalMaterialsEntity"/>
        <mapping class = "os.osHibernate.PersonEntity"/>
        <mapping class = "os.osHibernate.LectureEntity"/>
        <mapping class = "os.osHibernate.CourseEntity"/>
        <mapping class = "os.osHibernate.HomeworkEntity"/>




    </session-factory>
</hibernate-configuration>